{% extends "patient/layout.html" %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-4 mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h2 class="mt-3">Medic Home Page</h2></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active"> Dashboard</li>
                <li class="list-group-item"><i class="fas fa-users"></i> Users <span class="mr-5"></span>  <span class="badge badge-pill badge-secondary ml-5">{{ users|length }}</span></li>
                <li class="list-group-item"><i class="fas fa-user-md"></i> Medical Practitioners <span class="badge badge-pill badge-secondary ml-2">{{ practitioners|length }}</span></li>
                <li class="list-group-item"><i class="far fa-clipboard"></i>  User Records <span class="badge badge-pill badge-secondary ml-5">{{ records|length }}</span></li>
            </ul>
        </div>

        <div class="col-md-9">
            <div class="container">
                <h3 class="mb-4">Website Overview</h3>
            <div class="row">
                
                <div class="col-md-3">
                    <div class="card" style="width: 12rem; height: 10rem">
                        <div class="card-body">
                          <h2 class="card-title"><i class="fas fa-users ml-2"></i><span class="ml-3">{{ users|length }}</span></h2>
                          <h4 class="card-subtitle mb-2 ml-2">Users</h4>
                         
                        </div>
                    </div>   
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 12rem; height: 10rem">
                        <div class="card-body">
                          <h2 class="card-title"><i class="fas fa-user-md ml-2"></i><span class="ml-3">{{ practitioners|length }}</span> </h2>
                          <h4 class="card-subtitle mb-2 ml-2">Medical Practitioners</h4>
                         
                        </div>
                    </div>   
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 12rem; height: 10rem">
                        <div class="card-body">
                          <h2 class="card-title"><i class="far fa-clipboard"></i><span class="ml-3">{{ records|length }}</span></h2>
                          <h4 class="card-subtitle mb-2 ml-2">User Records</h4>
                         
                        </div>
                    </div>   
                </div>
                
                
                    
        </div>
    </div>
    </div>
    </div>
{% endblock content %}

