{% extends "patient/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card mt-5 mb-5 mx-auto" style="width: 35rem;">
    
  
  <form class="p-5" action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">
              Add New Record
          </legend>
          {{ form | crispy }}
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-info" type="submit">
                Add Record
          </button>
          
      </div>
  </form>
</div>

{% endblock content %}

